docs/public*
/.idea
.vscode/*
*.test
*.prof
nohup.out
cover.out
coverage.txt
*.swp
*.swo
.DS_Store
*~
vendor/*/
*.bench
*.debug
coverage*.out

dock.sh

GoBuilds
dist

hugolib/hugo_stats.json
resources/sunset.jpg

vendor
.hugo_build.lock

# Binaries / Packages
/src/strawberry
/src/strawberry.exe
*.snap
