language: go

dist: bionic

env:
  global:
    - CACHE_NAME=${TRAVIS_ARCH}
    - GO111MODULE=on
    - GOPROXY=https://proxy.golang.org
    - HUGO_BUILD_TAGS=extended

git:
  depth: false
go:
  - "1.14.8"
  - "1.15.1"
  - master

arch:
  - amd64

os:
  - linux

jobs:
  allow_failures:
    - go: master
  fast_finish: true

cache:
  directories:
    - $HOME/gopath/pkg/mod
    - $HOME/.cache/go-build
    - $HOME/Library/Caches/go-build
    - $HOME/AppData/Local/go-build

before_install:
  - df -h
  - gem install asciidoctor
  - type asciidoctor

install:
  - mkdir -p $HOME/src
  - mv $TRAVIS_BUILD_DIR $HOME/src
  - export TRAVIS_BUILD_DIR=$HOME/src/gotham
  - cd $HOME/src/gotham
  - curl -sSL "https://github.com/magefile/mage/releases/download/v1.9.0/mage_1.9.0_Linux-64bit.tar.gz" | sudo tar -xz -C /usr/local/bin mage

script:
  - go mod download
  - go mod verify
  - mage -v test
  - if [ "$TRAVIS_ARCH" = "amd64" ]; then
        mage -v check;
    else
        HUGO_TIMEOUT=30000 mage -v check;
    fi
  - mage -v gotham
  - df -h
